@import '../variables';

.chat-modal {
  .close {
    color: white;
  }
  .modal-header {
    color: white;
    background-color: @dark-purple;
    .border-radius(4px 4px 0px 0px)
  }
}
.chat-modal_body {
  height: 55%;
  padding: 0px 20px;
  overflow-y: scroll;
  [class*="col-"] {
    margin: 0;
    padding: 0;
  }
  .messenger {
    color: purple;
    font-weight: 800;
  }
}
.chat-modal_footer {
  padding: 10px 5px 0px 5px;
  .help-block {
    margin-top: 0px;
  }
  .btn {
    background-color: @dark-purple;
    border-color: @light-purple;
  }
}
